<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Listado de Propietarios</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
		 	<h1>Nuevo propietario</h1>
		</div>
		
		<div class="row">
			<form th:action="@{/propietarios/guardar}" th:object="${propietarioForm}" method="post">
			  <div class="form-group">
			    <label for="apellido">Apellido</label>
			    <input th:field="*{propietario.apellido}" type="text" class="form-control" id="apellido" placeholder="Ingrese un apellido...">
			  </div>
			  <div class="form-group">
			    <label for="nombre">Nombre</label>
			    <input th:field="*{propietario.nombre}" type="text" class="form-control" id="nombre" placeholder="Ingrese uno o más nombres...">
			  </div>
			 <div class="form-group">
			    <label for="tipoVehiculo">Tipo de vehiculo</label>
			    <select class="form-control" th:field="*{tipoVehiculo}">
			      <option value="auto">Auto</option>
			      <option value="moto">Moto</option>
			      <option value="camioneta">Camioneta</option>
			    </select>
			  </div>
			  <input th:field="*{propietario.id}" type="hidden" /> 
			  <button type="submit" class="btn btn-primary">Guardar</button>
			  <a href="/propietarios/listar" class="btn btn-danger">Cancelar</a>
			</form>
		</div>
	</div>
</body>
</html> 